<!-- NEED cities to come up from database as handlebars then can customise link AND each list item -->

<div class="citylist">
    <ul>
        <li><a href="/lists/{{id}}">{{city}}</a></li>
    </ul>
</div>