<!-- NEED cities to come up from database as handlebars then can customise link AND each list item -->

<div class="citylist">
    <ul>
        {{#each cities}}
            <li><a href="/lists/{{cityName}}">{{cityName}}</a></li>
        {{/each}}
    </ul>
</div>