<!-- Needs basic info for landing page about site
    Eventually include sign up prompt for newsletters and to become a member
-->
<div class="maininfo">
    <p>Welcome to the cruelty-free shopping guide for New Zealand.
        Looking for cruelty-free products in New Zealand? We can help with finding what you're looking for! 
        Browse through the lists to look for product types, brands or shops in your area. 
        
    </p>
</div>