<!-- Needs basic info for landing page about site
    Eventually include sign up prompt for newsletters and to become a member
-->
<div class="maininfo">
    <h2>Kia ora!</h2>
    <p>Welcome to the cruelty-free shopping guide for New Zealand. You are welcome to browse by city, product or brand.</p>
</div>