<!-- Needs navbar with: home, lists (cities), maps (cities), info(no drop) -->
<div class="navbar">
    <div class="navbarhome">
                <a href="/">Home</a>
                <a href="/lists">Lists</a>
                <a href="/maps">Maps</a>
                <a href="/moreinfo">More Info</a>
            </div>
</div>