<!-- Needs navbar with: lists (cities), maps (cities), info(no drop) -> NB: NO HOME <- -->
<div class="navbar">
    <div class="navbarhome">
                <a href="/lists">Lists</a>
                <a href="/maps">Maps</a>
                <a href="/moreinfo">More Info</a>
            </div>
</div>