/* Colours:
    #292F36 - Gunmetal
    #4ECDC4 - medium turquoise - UNSURE
    #F3DE8A - Buff (yellow)
    #E8477A - pink
    #FFFFFF - white - UNSURE`
    */

/* global aspects */
body {
    background-color: #FFFFFF; 
}

p {
    color: #292F36;
}

h1 {
    color: #E8477A;
}

h2 {
    color: #4ECDC4;
}

/* Home */
.home {
    color: #E8477A;
    text-align: center;
    text-shadow: 0.5px 0.5px #292F36;
}

/* header */
.header-row {
    display: flex; 
    /* border: solid #F3DE8A;
    background-color: #F3DE8A; */
    width: 80%;
    margin: 0.5em;
    display: flex;
    /* justify-content: space-evenly; */
    align-content: center;
}

.header-links-wrapper {
    width: 95%;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 60%;
}

.header-links a {
    color: #292F36;
    text-decoration-line: none;
    justify-content: space-between;
  }
  
  .header-links a:hover {
    color: #F3DE8A;
    text-decoration-line: none
  }

  .header-link {
      font-size: 1.5em;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
  }

/* Home Info */
.home-info a {
    color: #292F36;
    text-decoration-line: none;
}

.home-info a:hover {
    color: #F3DE8A;
    text-decoration-line: none
}

/* Footer */
.footer a {
    color: #292F36;
    text-decoration-line: none;
}

.footer a:hover {
    color: #F3DE8A;
    text-decoration-line: none
}

/* Home button */
.home-link a {
    color: #292F36;
    text-decoration-line: none;
}

.home-link a:hover {
    color: #F3DE8A;
    text-decoration-line: none
}

/* External shop links */
.shop-url a {
    color: #292F36;
    text-decoration-line: none;
}

.shop-url a:hover {
    color: #F3DE8A;
    text-decoration-line: none
}

/* List Products */
.product-shop-link a {
    color: #292F36;
    text-decoration-line: none;
}

.product-shop-link a:hover {
    color: #F3DE8A;
    text-decoration-line: none
}

/* ListCities */
.city-options-wrapper a {
    color: #292F36;
    text-decoration-line: none;
}

.city-options-wrapper a:hover {
    color: #F3DE8A;
    text-decoration-line: none
}

/* More Info */
.more-info a {
    color: #292F36;
    text-decoration-line: none;
}

.more-info a:hover {
    color: #F3DE8A;
    text-decoration-line: none
}

/* Home Info */
.home-info a {
    color: #292F36;
    text-decoration-line: none;
}

.home-info a:hover {
    color: #F3DE8A;
    text-decoration-line: none
}

/* Contact Us */

/* ? Refactoring */