/* Colours:
    #292F36 - Gunmetal
    #4ECDC4 - medium turquoise - UNSURE
    #F3DE8A - Buff (yellow)
    #E8477A - pink
    #FFFFFF - white - UNSURE
    */

/* body */
body {
    background-color: #FFFFFF; 
}

/* Home */
.home {
    color: #E8477A;
    display: flex;
    align-items: stretch;
}

/* header */
.header-row {
    display: flex; 
}

.header-row {
    border: solid #292F36;
    background-color: #292F36;
    width: 95%;
    margin: 0.5em;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.header-links-wrapper div {
    width: 95%;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 60%;
}

.header-links a {
    color: #E8477A;
    text-decoration-line: none;
    justify-content: space-between;
  }
  
  .header-links a:hover {
    color: #F3DE8A;
    text-decoration-line: none
  }

/* Home Info */

/* Footer */

/* Home button */

/* Lists */

/* Home Info */

/* More Info */

/* Contact Us */

/* ? Refactoring */