/* global aspects */
body {
    background-color: #FFFFFF; 
}

p {
    color: #292F36;
    font-family: 'PT Sans', sans-serif;
}

h1 {
    color: #B76C76;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    color: #4ECDC4;
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

h4 {
    font-family: 'Ubuntu', sans-serif;

}

h5 {
    font-family: 'Ubuntu', sans-serif;
}

/* Home */
.home {
    text-align: center;
}

/* header */
.header-row {
    display: flex; 
    /* border: solid #F3DE8A;
    background-color: #F3DE8A; */
    width: 80%;
    margin: 0.5em;
    display: flex;
    /* justify-content: space-evenly; */
    align-content: center;
}

.header-links-wrapper {
    width: 95%;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: column;
}

.header-links {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 60%;
    font-family: 'Ubuntu', sans-serif;
}

.header-links a {
    color: #292F36;
    text-decoration-line: none;
    justify-content: space-between;
  }
  
  .header-links a:hover {
    color: #F3DE8A;
    text-decoration-line: none
  }

  .header-link {
      font-size: 1.5em;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
  }

/* Home Info */
.home-info a {
    color: #292F36;
    text-decoration-line: none;
}

.home-info a:hover {
    color: #F3DE8A;
    text-decoration-line: none
}

/* Footer */
.footer {
    margin-top: 20px;
    font-size: 0.75em;
}

.details {
    display: flex;
    flex-direction: row;
}

.footer a {
    color: #292F36;
    text-decoration-line: none;
}

.footer a:hover {
    color: #F3DE8A;
    text-decoration-line: none
}

/* Home button */
.home-link a {
    color: #292F36;
    text-decoration-line: none;
}

.home-link a:hover {
    color: #F3DE8A;
    text-decoration-line: none
}

/* External shop links */
.shop-url a {
    color: #292F36;
    text-decoration-line: none;
}

.shop-url a:hover {
    color: #F3DE8A;
    text-decoration-line: none
}

/* List Products */
.product-shop-link a {
    color: #292F36;
    text-decoration-line: none;
}

.product-shop-link a:hover {
    color: #F3DE8A;
    text-decoration-line: none
}

/* ListCities */
.city-options-wrapper a {
    color: #292F36;
    text-decoration-line: none;
}

.city-options-wrapper a:hover {
    color: #F3DE8A;
    text-decoration-line: none
}

/* More Info */
.more-info a {
    color: #292F36;
    text-decoration-line: none;
}

.more-info a:hover {
    color: #F3DE8A;
    text-decoration-line: none
}

/* Home Info */
.home-info a {
    color: #292F36;
    text-decoration-line: none;
}

.home-info a:hover {
    color: #F3DE8A;
    text-decoration-line: none
}

/* Contact Us */

/* ? Refactoring */